<p class="quick-search-wrap">
    <label for="{{ id }}-quick" class="screen-reader-text">{{ label|raw }}</label>
    <input type="search" name="{{ id }}-quick" id="{{ id }}-quick" class="quick" value="" />
    <span class="spinner"></span>
</p>

<ul id="{{ id }}-checklist" data-wp-lists="list:{{ id }}" class="categorychecklist form-no-clear">
</ul>
