{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-wp" class="olz-field wordpress {{ type }} categorydiv">
        <input type="hidden" name="{{ name }}" value="" />

        <ul class="category-tabs">
            <li class="tabs">
                <a href="#{{ identifier }}-recent">{{ t_mostused }}</a>
            </li>
        </ul>

        <div id="{{ identifier }}-recent" class="tabs-panel">
            {% if contents and contents|length >= 1 %}
                {% set squares = multiple ? '[]' : '' %}
                {% set type = multiple ? 'checkbox' : 'radio' %}

                <ul id="{{ identifier }}checklist-most-recent" data-wp-lists="list:{{ identifier }}" class="categorychecklist">

                    {% for k, val in contents %}
                        {% set selected = k in value ? true : false %}
                        <li id="{{ identifier }}-{{ k }}" class="popular-category">
                            <label class="selectit">
                                <input type="{{ type }}" name="{{ name }}{{ squares }}" id="in-{{ identifier }}-{{ k }}" value="{{ k }}"{{ selected ? ' checked="checked"' : '' }} /> {{ val }}
                            </label>
                        </li>
                    {% endfor %}

                </ul>
            {% endif %}
        </div>

        {#<script>
            (function($) {
                $(document).ready(function() {
                    $("#{{ identifier }}-wp").zeusTabs({
                        identifier: "{{ identifier }}",
                        lists: {
                            search: "{{ t_search|raw }}",
                        },
                        type: "{{ type }}"
                    });
                });
            })(jQuery);
        </script>#}
    </div>
{% endblock %}

{# block footer %}
    <script type="text/html" id="tmpl-{{ identifier }}-search">
        {% include '@wordpress/search.html.twig' with {
            'id': identifier,
            'label': t_search,
        } only %}
    </script>
{% endblock #}

{% block description %}
    {{ description|raw }}
{% endblock %}
