{% extends template_path %}

{% block id %}{{ id }}_wordpress_{{ mode }}{% endblock %}
{% block label %}<label for="{{ id }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olh-field-content wordpress {{ mode }}">
        {% if contents and contents|length >= 1 %}
            {% set squares = multiple ? '[]' : '' %}
            {% set attributes = multiple ? ' multiple="true" size="5" data-value="' ~ val|join(',') ~ '"' : '' %}

            <input type="hidden" name="{{ id }}{{ squares }}" value="" />
            <select name="{{ id }}{{ squares }}" id="{{ id }}"{{ attributes }}>
                {% for key, option in contents %}
                    {% if key == -1 %}
                        <option value="">{{ option }}</option>
                    {% else %}
                        <optgroup label="{{ key ? key|capitalize : t_items }}">
                            {% for k, opt in option %}
                                {% set sel = k in val ? true : false %}
                                <option value="{{ k }}"{{ sel ? ' selected="selected"' : '' }}>{{ opt }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
